{% load static %}
<nav>
    <div>
      <ul >
        <li>
          <a href="{% url 'home' %}">Home</span></a>
        </li>
        <li>
          <a href="{% url 'store' %}">Store</a>
        </li>
        <li>
          <a href="{% url 'about' %}">About us</a>
        </li>
        <li >
          <a href="#">Contact us</a>
        </li>
          <li>
            <a href="#">cart</a>
          </li>
          {% if user.is_authenticated %}
      
      <li class="nav-item">
        <a class="nav-link" href="logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Welcome, {{user.username}}</a>
      </li>

      {% else %}

      <li>
        <a href="{% url 'register' %}">account</a>
      </li>

      {% endif %}
      </ul>
    </div>
  </nav>

  <body>


    {% block content %} 
    
    


        
    {% endblock %}

    


</body>